# Your Medusa backend, railway
MEDUSA_BACKEND_URL=https://nxladmin.aiaa.dev

# Your publishable key to railway
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=pk_

# Your store URL, should be updated to where you are hosting your storefront.
NEXT_PUBLIC_BASE_URL=https://your-production-domain.com

# Your preferred default region. When middleware cannot determine the user region from the "x-vercel-country" header, the default region will be used. ISO-2 lowercase format. 
NEXT_PUBLIC_DEFAULT_REGION=CA

# Your Stripe public key. See – https://docs.medusajs.com/add-plugins/stripe
NEXT_PUBLIC_STRIPE_KEY=

# Your Next.js revalidation secret. See – https://nextjs.org/docs/app/building-your-application/data-fetching/fetching-caching-and-revalidating#on-demand-revalidation
REVALIDATE_SECRET=supersecret
